:root {
  --text-color: #161616;
  --font-1: futura-pt-bold, sans-serif;
}

body {
  background: #fefaef;
  overflow-x: hidden;
  align-content: center;
}

.center {
  margin: auto;
  width: 90%;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 0px) {
  .span {
    content: "\00A9";
  }
  .center {
    display: block;
    margin: auto;
    width: 50%;
  }

  body {
    background: #fefaef;
    overflow-x: hidden;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    padding: 0;
  }

  hr {
    display: block;
    height: 1px;
    width: 90%;
    border: 0;
    border-top: 2px solid rgb(0, 0, 0);
    margin: 0.01em 0;
    margin-top: 1rem;
  }

  .header {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    font-family: var(--font-1);
  }

  .title2 {
    margin-top: 5rem;
    font-size: 1.5rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    align-items: column;
  }

  .flexbox-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flexbox-item-1 {
    display: block;
    margin-right: 1rem;
  }

  .flexbox-item-2 {
    display: block;
    margin-right: 1rem;
  }

  .flexbox-item-3 {
    display: block;
    margin-right: 1rem;
  }

  .subhead {
    padding-top: 3rem;
    font-size: 1.3rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .details {
    padding-top: 1rem;
    font-size: 1.1rem;
    width: 150px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .details2 {
    padding-top: 1.3rem;
    font-size: 1.1rem;
    width: 150px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  #glf {
    display: flex;
    margin-top: 2rem;
    padding-top: 2rem;
    width: 190px;
    height: 190px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .pic {
    margin-top: 3rem;
    width: 200px;
    height: 200px;
    margin: auto;
    z-index: 1;
  }

  #text {
    margin-top: -8rem;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    opacity: 0;
    letter-spacing: 2px;
    font-family: var(--font-1);
    text-align: center;
    visibility: hidden;
  }

  .pic:hover #text {
    transition: all ease 0.3s;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    z-index: 7;
  }

  .title {
    margin-top: 5rem;
    font-size: 1.5rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }

  button {
    width: 60px;
    height: 60px;
    z-index: 7;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
  }

  button:hover {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: transparent;
    transition: color;
    z-index: 7;
  }

  #bannerImage {
    cursor: pointer;
    padding-bottom: 30px;
    height: 190px;
    width: 190px;
  }

  .img {
    background-size: cover;
    height: 300px;
    width: 300px;
  }

  .shoegroup {
    margin-top: 6px;
    justify-content: center;
    padding-left: 3px;
    z-index: 100;
  }

  .shoegrounp:hover {
    transition: 0.4s ease-in;
    z-index: 10;
  }

  .span {
    content: "\00A9";
  }

  .copyright {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    font-family: var(--font-1);
  }

  .product {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fefaef;
  }

  .main-img img {
    max-width: 300px;
    margin: auto;
    display: block;
    height: 300px;
    width: 300px;
  }

  .image-container {
    width: 50px;
    height: 50px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
  }

  .littlecart button {
    padding-bottom: 30px;
    transition: 1s;
  }

  .littlecart button:hover {
    transform: scale(1.3);
    border: #907732;
  }

  .option2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  .option2 :hover {
    transform: scale(1.3);
    cursor: pointer;
  }

  .main-img:hover #text {
    /* transition: all ease 0.3s;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    z-index: 7; */
  }

  .main-img:hover {
    /* cursor: pointer;
    opacity: 0.4;
    color: rgba(255, 255, 255, 0.874);
    transition: color;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    margin: auto;
    display: block;
    max-width: 300px;
    transition: border 0.2s ease-in-out; */
  }

  .main-img img:hover #text {
    /* transition: all ease 0.3s;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    z-index: 7; */
  }

  .main-img img:hover {
    /* cursor: pointer;
    opacity: 0.4;
    color: rgba(255, 255, 255, 0.874);
    transition: color;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    margin: auto;
    display: block;
    max-width: 300px;
    transition: border 0.2s ease-in-out; */
  }

  .product .thumb-img {
    text-align: center;
  }

  .product .thumb-img .box {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid #8ea1af;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
  }

  .product .thumb-img .box:hover {
    color: rgba(255, 255, 255, 0.874);
    transition: color;
    border: 2px solid black;
    transition: border 0.2s ease-in-out;
  }

  .product .thumb-img .box img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (min-width: 700px) {
  .span {
    content: "\00A9";
  }

  .copyright {
    margin-bottom: 1rem;
    font-size: 0.7rem;
    font-family: var(--font-1);
  }

  .center {
    display: block;
    margin: auto;
    width: 70%;
  }

  body {
    background: #fefaef;
    overflow-x: hidden;
    margin: auto;
    text-align: center;
    padding: 0;
  }

  .header {
    margin-top: 3rem;
    font-size: 7rem;
    font-weight: 700;
    font-style: normal;
    font-family: var(--font-1);
  }

  .title {
    margin-top: 5rem;
    font-size: 1.9rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }

  .title2 {
    font-size: 1.9rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }

  .flexbox-container {
    display: flex;
    justify-content: center;
  }

  .flexbox-item-1 {
    display: block;
    width: 170px;
    margin-right: 2rem;
  }

  .flexbox-item-2 {
    display: block;
    width: 170px;
    margin-right: 2rem;
  }

  .flexbox-item-3 {
    display: block;
    width: 170px;
    margin-bottom: 5rem;
    margin-right: 2rem;
  }

  .flexbox-item-4 {
    display: block;
    width: 170px;
    margin-bottom: 5rem;
  }

  .subhead {
    padding-top: 3rem;
    font-size: 1.5rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
  }

  .details {
    padding-top: 1rem;
    font-size: 1.2rem;
    width: 150px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
  }

  .details2 {
    padding-top: 1rem;
    font-size: 1.2rem;
    width: 150px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
  }

  #glf {
    width: 300px;
    height: 300px;
    align-content: center;
    z-index: 1;
  }

  .shoegroup {
    padding-top: 8px;
  }

  .shoegroup:hover {
    transition: 0.4s ease-in;
    z-index: 10;
    display: block;
  }

  .small1 {
    width: 65px;
    height: 65px;
    align-content: center;
    margin-right: 10px;
  }

  .small1:hover {
    display: block;
    cursor: pointer;
    opacity: 0.4;
    border: 2px solid black;
    z-index: 1;
  }

  .small2 {
    width: 65px;
    height: 65px;
    align-content: center;
    margin-right: 10px;
  }

  .small2:hover {
    display: block;
    cursor: pointer;
    opacity: 0.4;
    border: 2px solid black;
  }

  .small3 {
    width: 65px;
    height: 65px;
    align-content: center;
  }

  .small3:hover {
    display: block;
    cursor: pointer;
    opacity: 0.4;
    border: 2px solid black;
  }

  .shoegroup {
    justify-content: center;
    display: flex;
    flex-direction: row;
    z-index: 100;
  }

  .pic {
    margin: auto;
    margin-top: 3rem;
    width: 300px;
    height: 300px;
  }

  #text {
    padding-top: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    opacity: 0;
    letter-spacing: 2px;
    font-family: var(--font-1);
    text-align: center;
    visibility: hidden;
    transition: bottom 0.2s ease-in-out;
  }

  .pic:hover {
    opacity: 1;
    cursor: pointer;
    z-index: 1;
    visibility: visible;
  }

  .#text:hover {
    opacity: 1;
    cursor: pointer;
    z-index: 7;
    visibility: visible;
  }

  hr {
    display: block;
    min-width: 400px;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 2px solid rgb(0, 0, 0);
    margin-top: 1rem;
    text-align: center;
  }

  button {
    width: 50px;
    height: 50px;
    z-index: 7;
    border: none;
    background-color: transparent;
  }
  .img {
    background-size: cover;
    height: 300px;
    width: 300px;
  }

  button {
    width: 70px;
    height: 70px;
    border: none;
    background-color: transparent;
    z-index: 7;
  }

  button:hover {
    width: 70px;
    height: 70px;
    z-index: 7;
    border: 1px solid black;
    background-color: transparent;
    transition: color;
    cursor: pointer;
  }

  #bannerImage {
    display: block;
    cursor: pointer;
    padding-bottom: 30px;
    height: 300px;
    width: 300px;
  }

  #bannerImage:hover {
    display: block;
    cursor: pointer;
    opacity: 0.4;
    transition: color;
    transition: border;
    padding-bottom: 30px;
  }

  .pic:hover {
    display: block;
    cursor: pointer;
    opacity: 0.4;
    color: rgba(255, 255, 255, 0.874);
    transition: color;
    border: 2px solid black;
    transition: border;
    padding-bottom: 30px;
    cursor: pointer;
  }

  .orangeshoe:hover {
    cursor: pointer;
    opacity: 0.4;
    color: rgba(255, 255, 255, 0.874);
    transition: color;
    border: 2px solid black;
    height: 301px;
    width: 301px;
    margin: auto;
    display: block;
    max-width: 300px;
    transition: border 0.2s ease-in-out;
  }

  .orangeshoe {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fefaef;
  }

  .product {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fefaef;
  }

  .main-img img {
    max-width: 300px;
    margin: auto;
    display: block;
    height: 300px;
    width: 300px;
  }

  .image-container {
    width: 50px;
    height: 50px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
  }

  .littlecart {
    padding-bottom: 30px;
    transition: 1s;
  }

  .littlecart :hover {
    transform: scale(1.3);
    border: #907732;
  }

  .option2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 10px;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  .option2 :hover {
    transform: scale(1.3);
  }

  .main-img:hover #text {
    /* transition: all ease 0.3s;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    z-index: 7; */
  }

  .main-img:hover {
    /* cursor: pointer;
    opacity: 0.4;
    color: rgba(255, 255, 255, 0.874);
    transition: color;
    border: 2px solid black;
    height: 301px;
    width: 301px;
    margin: auto;
    display: block;
    max-width: 300px;
    transition: border 0.2s ease-in-out; */
  }

  .image {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 300px;
  }

  .image__img {
    margin: auto;
    display: block;
    width: 100%;
  }

  .image__overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.609);
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-family: var(--font-1);
    transition: opacity 0.25s;
    border: 2px solid black;
  }

  .image__overlay--blur {
    backdrop-filter: blur(5px);
  }

  .image__overlay--primary {
    background: #ffffff87;
  }

  .image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }

  .image__overlay:hover {
    opacity: 1;
  }

  .image__overlay:hover > * {
    transform: translateY(0);
  }

  .image__title {
    font-size: 2em;
    font-weight: bold;
  }

  .main-img {
    height: 300px;
    width: 300px;
    margin: auto;
    display: block;
  }

  .main-img.GLF {
    visibility: hidden;
  }

  .main-img:hover.GLF {
    transition: all ease 0.3s;
    opacity: 1;
    visibility: visible;
  }

  .main-img img:hover {
    cursor: pointer;
    opacity: 0.4;
    color: rgba(255, 255, 255, 0.874);
    transition: color;
    border: 2px solid black;
    height: 301px;
    width: 301px;
    margin: auto;
    display: block;
    max-width: 300px;
    transition: border 0.2s ease-in-out;
  }

  .product .thumb-img {
    text-align: center;
  }

  .product .thumb-img .box {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid #8ea1af;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
  }

  .product .thumb-img .box:hover {
    color: rgba(255, 255, 255, 0.874);
    transition: color;
    border: 2px solid black;
    transition: border 0.2s ease-in-out;
  }

  .product .thumb-img .box img {
    max-width: 100%;
    max-height: 100%;
  }

  /* :root {
    --stroke-width: 2px;
    --heart-width: 100%;
    --transition-length: 1.2s;
    --heart-color:#d32f2f;
  }
  
  .heart-container {
    position: relative;
    width:10%;
    aspect-ratio: 1/1;
    overflow: hidden;
    clip-path: url(#svgClip);
  }
  
  .heart-clip {
    appearance: none;
    margin: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    z-index: 2;
   
  }
  
  .heart-clip + .fill {
    top:0;
    left:0;
    transform: translateY(50%);
    width: calc(2 * var(--heart-width, 100px));
    aspect-ratio: 1/1;
    transition: transform var(--transition-length, 0s) cubic-bezier(.2, .6, .8, .4);
  }
   
  .heart-clip:checked + .fill {
    transform: translateY(0);
  }
  
  .heart-stroke {
    width: calc(100% - (2 * var(--stroke-width, 2px)));
    aspect-ratio: 1/1;
    position: absolute;
    top: var(--stroke-width, 0);
    left: var(--stroke-width, 0);
    fill: transparent;
    stroke: var(--heart-color);
    stroke-width: var(--stroke-width, 1px);
  }
  
  .waveShape {
    animation-name: waveAction;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    fill: var(--heart-color);
  }
  
  @keyframes waveAction {
    0% {
       transform: translate(-175px, 0px);
    }
    100% {
       transform: translate(0px, 0px);
    }
  }
  ``
  Regards,
  
  Elrad.
  
  
    [1]: https://www.svgrepo.com/svg/5233/heart
    [2]: https://codepen.io/GeorgeWL/pen/yLeGGMw
    [3]: https://stackoverflow.com/questions/29738787/filling-water-animation/29739227#29739227 */
}
