:root {
  --text-color: #161616;
  --font-1: futura-pt-bold, sans-serif;
}

body {
  background: #fefaef;
  overflow-x: hidden;
  align-content: center;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:link,
:visited {
  color: rgb(255, 164, 212);
  background-color: transparent;
  text-decoration: none;
}

a:link :hover {
  color: rgb(249, 187, 54);
  background-color: transparent;
  text-decoration: underline;
}

a:link :active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

@media screen and (min-width: 0px) {
  .center {
    display: block;
    margin: auto;
    width: 50%;
  }

  body {
    background: #fefaef;
    overflow-x: hidden;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    padding: 0;
  }

  hr {
    display: block;
    height: 1px;
    width: 90%;
    border: 0;
    border-top: 2px solid rgb(0, 0, 0);
    margin: 0.01em 0;
    margin-top: 1rem;
  }

  .header {
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
    font-family: var(--font-1);
  }

  .title {
    padding-top: 5rem;
    font-size: 1.9rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .flexbox-container {
    display: flex;
    align-items: ;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flexbox-item-1 {
    display: block;
    margin-right: 1rem;
  }

  .flexbox-item-2 {
    display: block;
    margin-right: 1rem;
  }

  .flexbox-item-3 {
    display: block;
    margin-right: 1rem;
  }

  .flexbox-item-4 {
    display: block;
  }

  .flexbox-item-6 {
    margin-left: 1rem;
  }

  .flexbox-item-7 {
    margin-left: 1rem;
  }
  .subhead {
    padding-top: 3rem;
    font-size: 1.3rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .details {
    padding-top: 1rem;
    font-size: 1.1rem;
    width: 150px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .details2 {
    padding-top: 1.3rem;
    font-size: 1.1rem;
    width: 150px;
    font-family: var(--font-1);
    font-weight: 700;
    font-style: normal;
  }

  .glf {
    padding-top: 2rem;
    width: 200px;
    height: 200px;
  }

  .glfhover {
    padding-top: 1rem;
    width: 200px;
    height: 200px;
    margin-bottom: 3rem;
    margin-right: 3rem;
  }

  a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }

  a:link :visited {
    color: rgb(255, 164, 212);
    background-color: transparent;
    text-decoration: none;
  }

  a:link :hover {
    color: rgb(249, 187, 54);
    background-color: transparent;
    text-decoration: underline;
  }

  a:link :active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
}

@media screen and (min-width: 700px) {
  body {
    background: #fefaef;
    overflow-x: hidden;
    margin: auto;
    text-align: center;
    padding: 0;
  }

  .header {
    margin-top: 3rem;
    font-size: 7rem;
    font-weight: 700;
    font-style: normal;
    font-family: var(--font-1);
  }

  .title {
    padding-top: 5rem;
    font-size: 1.9rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .flexbox-container {
    display: flex;
    justify-content: center;
  }

  .flexbox-item-1 {
    display: block;
    width: 150px;
  }

  .flexbox-item-2 {
    display: block;
    width: 150px;
  }

  .flexbox-item-3 {
    display: block;
    width: 150px;
  }

  .flexbox-item-4 {
    display: block;
    width: 150px;
  }

  .flexbox-item-5 {
    align-items: center;
    margin-left: 2rem;
  }

  .flexbox-item-6 {
    align-items: center;
    margin-left: 2rem;
  }

  .subhead {
    padding-top: 3rem;
    font-size: 1.5rem;
    font-family: var(--font-1);
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .details {
    padding-top: 1rem;
    font-size: 1.2rem;
    width: 150px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .details2 {
    padding-top: 1rem;
    font-size: 1.2rem;
    width: 150px;
    font-family: var(--font-1);
    font-weight: 700;
    font-style: normal;
    text-align: left;
    margin-left: 1.5rem;
  }

  .glf {
    padding-top: 3rem;
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
  }

  .glfhover {
    padding-top: 3rem;
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
  }

  a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }

  a:link :visited {
    color: rgb(255, 164, 212);
    background-color: transparent;
    text-decoration: none;
  }

  a:link :hover {
    color: rgb(249, 187, 54);
    background-color: transparent;
    text-decoration: underline;
  }

  a:link :active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }

  .center {
    display: block;
    margin: auto;
    width: 95%;
  }

  hr {
    display: block;
    min-width: 400px;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 2px solid rgb(0, 0, 0);
    margin-top: 1rem;
    text-align: center;
  }
}
