:root {
    --text-color: #161616;
    --font-1: futura-pt-bold, sans-serif;
  }
  
  body {
    background: #fefaef;
    overflow-x: hidden;
    align-content: center;
  }
  
  .center {
    margin: auto;
    width: 90%;
  }
  
  * {
    box-sizing: border-box;
  }

  a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:link,
  :visited {
    color: rgb(237, 154, 31);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:link :hover {
    color: rgb(7, 67, 14);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:link :active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }

 .banner {
width: 100%;
  }
  
  @media screen and (min-width: 0px) {
    .span {
      content: "\00A9";
    }
    .center {
      display: block;
      margin: auto;
      width: 50%;
    }
  
    body {
      background: #fefaef;
      overflow-x: hidden;
      margin-left: 3rem;
      margin-right: 3rem;
      margin-bottom: 3rem;
      padding: 0;
    }
  
    hr {
      display: block;
      height: 1px;
      width: 90%;
      border: 0;
      border-top: 2px solid rgb(0, 0, 0);
      margin: 0.01em 0;
      margin-top: 1rem;
    }
  
    .header {
      margin-top: 3rem;
      font-size: 3rem;
      font-weight: 700;
      font-style: normal;
      font-family: var(--font-1);
    }
  
    .title2 {
      margin-top: 5rem;
      font-size: 1.5rem;
      font-family: var(--font-1);
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      align-items: column;
    }
  
    .flexbox-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .flexbox-item-1 {
      display: block;
      margin-right: 1rem;
    }
  
    .flexbox-item-2 {
      display: block;
      margin-right: 1rem;
    }
  
    .flexbox-item-3 {
      display: block;
      margin-right: 1rem;
    }
  
    .subhead {
      padding-top: 3rem;
      font-size: 1.3rem;
      font-family: var(--font-1);
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  
    .details {
      padding-top: 1rem;
      font-size: 1.1rem;
      font-family: futura-pt, sans-serif;
      font-weight: 600;
      font-style: normal;
    }
  
    .details2 {
      padding-top: 1.3rem;
      font-size: 1.1rem;
      width: 150px;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
    }


  }
  
  @media screen and (min-width: 700px) {
    .span {
      content: "\00A9";
    }
  
    .copyright {
        margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 0.7rem;
      font-family: var(--font-1);
    }
  
    .center {
      display: block;
      margin: auto;
      width: 70%;
    }
  
    body {
      background: #fefaef;
      overflow-x: hidden;
      margin: auto;
      text-align: center;
      padding: 0;
    }
  
    .header {
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      font-size: 5rem;
      font-weight: 700;
      font-style: normal;
      font-family: var(--font-1);
    }
  
    .title {
      margin-top: 5rem;
      font-size: 1.9rem;
      font-family: var(--font-1);
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
    }
  
    .title2 {
      font-size: 1.9rem;
      font-family: var(--font-1);
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
    }
  
    .flexbox-container {
      display: flex;
    }
  
    .flexbox-item-1 {
      display: block;
      margin-right: 2rem;
    }
  
    .flexbox-item-2 {
      display: block;
      width: 170px;
      margin-right: 2rem;
    }
  
    .flexbox-item-3 {
      display: block;
      width: 170px;
      margin-bottom: 5rem;
      margin-right: 2rem;
    }
  
    .flexbox-item-4 {
      display: block;
      width: 170px;
      margin-bottom: 5rem;
    }
  
    .subhead {
      padding-top: 3rem;
      font-size: 1.5rem;
      font-family: var(--font-1);
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      text-align: left;
    }
  
    .details {
      padding-top: 1rem;
      font-size: 1.2rem;
      font-family: futura-pt, sans-serif;
      font-weight: 600;
      font-style: normal;
      text-align: left;
    }
  
    .details2 {
      padding-top: 1rem;
      font-size: 1.2rem;
      width: 150px;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      text-align: left;
    }

    hr {
      display: block;
      min-width: 400px;
      height: 1px;
      width: 100%;
      border: 0;
      border-top: 2px solid rgb(0, 0, 0);
      margin-top: 1rem;
      text-align: center;
    }

  